<div class="container box_total">

  <p  *ngIf="loading"class="loading" > loading... </p>
  <div *ngIf="showpainel">

    <div class="clima_result" *ngFor="let item of result">
      <span class="glyphicon glyphicon-remove" (click)="closePanel()"></span>


        <p class="localiza">{{ item?.LocalizedName }}, {{ item?.AdministrativeArea?.ID }}, {{ item?.Country?.LocalizedName }} </p>

        <div *ngFor="let item of resultweatherDay">

          <p class="temperatura" >{{ item?.Temperature?.Maximum?.Value }}°  {{ item?.Temperature?.Maximum?.Unit }}  {{ item?.Day?.IconPhrase }} </p>


          <p class="temp_chuva">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            {{ item?.Temperature?.Maximum?.Value }}°
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            {{ item?.Temperature?.Minimum?.Value }}°
            <strong>Chuva</strong>
            {{ item?.Day?.RainProbability }}mm
          </p>

          <p class="vento">
            <strong>Vento</strong>
            {{ item?.Day?.Wind?.Speed?.Value }}
            {{ item?.Day?.Wind?.Speed?.Unit }}
            <strong>Direção</strong>
            {{ item?.Day?.Wind?.Direction?.Localized }}
          </p>

        </div>


        <button class="btn_clima" (click)="buscarClima(item?.Key)">buscar clima</button>


        <div class="bloco_baixo">
          <div class="temp_semana" *ngFor="let item of resultweather">
            <p>
              {{ item?.Temperature?.Minimum?.Value }}°
            </p>
            <p>
              {{ item?.Temperature?.Maximum?.Value }}°
            </p>
          </div>
        </div>

    </div>
  </div>



  <div class="container_busca">
    <div id="custom-search-input">
      <div class="input-group">
        <input type="text" class="search-query form-control" [formControl]="queryField"
          placeholder="Insira aqui o nome da cidade" />
        <span class="input-group-btn">
          <button class="btn btn-danger" (click)="onSearch()">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>

    <!--    {{resultweatherDay|json}}

    -->

  <div class="capitais col-md-12">

    <div class="box_dentro">
      <h3>Capitais</h3>

      <div class="row" *ngFor="let item of resultweatherFloripa">
        <div class="col-sm">
          <p class="ttitle">Min</p>
          <p>{{ item?.Temperature?.Minimum?.Value }} </p>
        </div>
        <div class="col-sm">
          <p class="ttitle" >Máx</p>
          <p>{{ item?.Temperature?.Maximum?.Value }} </p>
        </div>
        <div class="col-sm">
          <p class="ttitle" >Cidade</p>
          <p>Florianópolis</p>
        </div>
      </div>

      <div class="row" *ngFor="let item of resultweatherManaus">
        <div class="col-sm">
          <p>{{ item?.Temperature?.Minimum?.Value }} </p>
        </div>
        <div class="col-sm">
          <p>{{ item?.Temperature?.Maximum?.Value }} </p>
        </div>
        <div class="col-sm">
          <p>Manaus</p>
        </div>
      </div>

      <div class="row" *ngFor="let item of resultweatherRio">
        <div class="col-sm">
          <p>{{ item?.Temperature?.Minimum?.Value }} </p>
        </div>
        <div class="col-sm">
          <p>{{ item?.Temperature?.Maximum?.Value }} </p>
        </div>
        <div class="col-sm">
          <p>Rio de Janeiro</p>
        </div>
      </div>

  </div>

</div>
