@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.container_busca{
  background-color: #fff;
  padding: 0;
  border-radius: 3px;
  margin: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid #63cdee;
}

.loading{
  color: #fff;
}

#custom-search-input {
  margin:0;
  width: 90%;
  padding: 0;
  height: 50px;

}

#custom-search-input .search-query {
  font-size: 18px;
  margin-bottom: 0;
  border: none;
  width: 70%;
  height: 50px;
  float: left;
  text-indent: 10px;
}

.search-query:focus{
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
  box-shadow:none;
}



#custom-search-input button{
  border: 0;
  padding: 0 10px;
  background-color: transparent;
  right: -11% !important;
  height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#585555;
  font-size: 18px;;
  position: absolute;
}


#custom-search-input button:hover{
  background: #bfbebe2e;
  color: #000000;
}

#custom-search-input button:focus{
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
  box-shadow:none;
}

.search-query:focus + button {
  z-index: 3;
}


.btn_clima{
  opacity: 0;
  width: 0;
  height: 0;
  border: none;
}



.clima_result{
  background-color: #f4f3f3;
  margin:0 auto;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  padding: 10px;
  display: inline-block;
  margin-bottom: 25px;
}

.glyphicon.glyphicon-remove{
  color: #88d7f0;
  position: relative;
  float: right;
  cursor: pointer;
  top: 0;
  right: 0;
  transition: all .3s ease-out;
}

.glyphicon.glyphicon-remove:hover{
  color: #3ab2d8;
}


.temp_semana{
  display: inline-block;
  margin-right: 20px;
}

.temp_semana p{
  float: left;
  width: auto;
  color:  #88d7f0;
  font-weight: 900;
}


.bloco_baixo{
  border-top: 1px solid #88d7f0;
  padding-top: 30px;
}

p.temperatura{
  font-size: 19px;
  font-weight: bolder;
  margin: 0 0 20px 5px;
}


p.temp_chuva{
  margin-left: 5px;
}

p.temp_chuva span{
  color: #63cdee;
}

p.temp_chuva strong{
  margin-left: 15px;
  font-weight: lighter;
  margin-right: 15px;
}

p.vento{
  margin-left: 5px;
  margin-right: 15px;
}
p.vento strong{
  margin-left: 5px;
  font-weight: lighter;
  margin-right: 15px;
}
p.vento strong.2{
  margin-left: 15px;
  margin-right: 15px;
}


/* capitais */

.capitais{
  border-top: 1px solid #fff;
  margin-top: 30px;
  text-align: left;
  padding-top: 25px;
}

.capitais h3{
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.capitais .ttitle{
  font-weight: 900;
  margin-top: 10px;
}

@media (min-width: 850px) {
  .box_dentro,
  .container_busca,
  .clima_result{
    width: 85%;
  }


  .capitais{
    text-align: center;
  }

  .box_dentro{
    display: inline-block;
    text-align: left;
  }

  .localiza,
  .temperatura,
  .temp_chuva,
  .vento{
    padding: 0 1%;
  }

  .bloco_baixo{
    padding-left: 2%;
  }
}


@media (max-width: 550px){

  .capitais .col-sm{
    width: 30% !important;
  }

  #custom-search-input {
    height: 40px;
  }
  #custom-search-input .search-query {
    font-size: 15px;
    text-indent: 5px;
    height: 40px;
  }
  #custom-search-input button{
    height: 40px;
    font-size: 16px;
  }

  .temp_semana{
    margin-right: 5px;
  }

  .temp_semana p{
    font-size: 13px;
  }

}

@media (max-width: 450px){

}
