.bg{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,240,255,0.06066176470588236) 1%, rgba(58,222,255,0.7693452380952381) 37%);
  height: 100vh;
  padding-top: 100px;
  text-align: center;
}


.bg h1{
  font-weight: 400;
  color: #fff;
}
